* {
    font-family: 'Cantarell', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Plus Jakarta Sans', sans-serif;
}


.cart .woocommerce-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.cart li {
    display: inline;
    font-size: 18px;
    color: #7e7e7e;
}

.cart .woocommerce-page-header ul li a {
    display: inline-block;
    position: relative;
    color: #7e7e7e;
    padding-bottom: 3px;
}

.cart .woocommerce-page-header ul li a:hover { 
        color: #ffb300;
        font-weight: 500;
    
}
.cart .woocommerce-page-header ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  
  .cart .woocommerce-page-header ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 50%;
    width: 0%;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    transform: translateX(50%);
  }
  
.cart .woocommerce-page-header ul li a:hover::before {
    width: 60%;
    left: 0%;
  }
  
.cart .woocommerce-page-header ul li a:hover::after {
    width: 60%;
    right: 0%;
  }


.cart .percent-cart {
    border: 1px dotted #7e7e7e;
}


.cart .col-xl-8 .col-lg-12 .col-md-12 .col-12 {
    width: 100%;
    overflow: auto;
}
.cart table td {
    vertical-align: middle;
    text-align: center;
}

.cart .product-name {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.cart .quantity {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: 130px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    width: auto;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}
.cart .quantity .minus, .quantity .plus {
    background: #fff;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    line-height: 18px;
    font-size: 14px;
    color: var(--gray-dark,#000);
    border: 1px solid var(--border-color,#e5e5e5);
    text-align: center;
    width: 45px;
    height: 38px;
}
[class*=" feather-"],[class^=feather-]{
	font-family:feather;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.cart .quantity button .plus {
    float: right;
}

.cart .quantity button .minus {
    float: left;
}
 .cart.quantity input {
    border: 0;
    text-align: center;
    width: 40px;
    float: right;
}
.cart .quantity input.qty {
    float: left;
    width: 45px;
    height: 38px;
    text-align: center;
    padding: 0;
}

.cart .product-subtotal span {
    color: #000;
    font-weight: 700;
}

.cart .product-price span {
    color: #000;
    font-weight: 700;
}

.cart .actions {
    padding: 15px;
    margin-top: 20px;
    vertical-align: middle;
}
.cart .bottom-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cart .actions .coupon {
    /* flex: 0 0 50%; */
    display: flex;
}
.cart.actions .coupon input {
    border: 1px solid #e5e5e5;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
    flex: 1;
    margin-right: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cart .actions .coupon input:checked {
    border: 0;
}
.cart .coupon .button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 35px;
    background: var(--button-color,#000);
    color: #fff;
    font-size: calc(var(--font-size-body,14px) + 1px);
    line-height: calc(var(--font-size-body,14px) + 6px);
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
    font-weight: 700;
}

.cart .coupon .button:hover {
    border: 0;
    background: #ffb300;
    cursor: pointer;
}
.cart .actions .bottom-cart h2 {
    margin: 0;
    font-size: calc(var(--font-size-body,14px) + 1px);
    font-weight: 400;
}

.cart .actions .bottom-cart h2 a {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 35px;
    background: var(--button-color,#000);
    color: #fff;
    line-height: calc(var(--font-size-body,14px) + 6px);
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.cart .actions .bottom-cart h2 a:hover {
    background: #ffb300;
    cursor: pointer;
    border: 0;
}

/*  */

.cart .cart-collaterals {
    background: #f6f6f6;
    padding-bottom: 45px;
    max-width: 370px;
    margin-left: auto;
}
.cart .cart-collaterals h2 {
    font-size: calc(var(--font-size-body,14px) + 3px);
    color: var(--gray-dark,#000);
    padding: 15px 30px 11px;
    background: #e9e9e9;
    margin: 0;
    line-height: 1.8;
    border-bottom: 0;
    font-weight: 700;
}

.cart .cart-collaterals .shop_table_responsive>div>* {
    flex: 1;
}

.cart .cart-collaterals .shop_table_responsive>div {
    display: flex;
    padding: 15px 30px;
    align-items: center;
}

.cart .cart-collaterals .title {
    color: var(--gray-dark,#000);
    font-weight: 700;
}

.cart .cart-collaterals .cart-subtotal>* .woocommerce-Price-amount {
    font-size: calc(var(--font-size-body,14px) + 6px);
    color: var(--gray-dark,#000);
}

.cart .woocommerce-cart .cart-collaterals .order-total .woocommerce-Price-amount {
    font-size: calc(var(--font-size-body,14px) + 4px);
    color: var(--gray-dark,#000);
}

.cart .cart_totals .wc-proceed-to-checkout {
    padding: 0 30px;
}

.cart .cart_totals .wc-proceed-to-checkout>a.wc-forward {
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: var(--button-color,#000);
    color: #fff;
    padding: 24px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: calc(var(--font-size-body,14px) + 2px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.cart .cart_totals .wc-proceed-to-checkout>a.wc-forward:hover {
    background: #ffb300;
    border: 0;
    cursor: pointer;   
}